 <div id="divTop">
            <h1 id="BlogTitle"><a href="http://www.youmew.com/"><img src="__PUBLIC__/static/index/images/LOGO.gif" alt="你我网" onMouseover="shake(this,'onmouseout')" /></a></h1>
            <!-- <h3 id="BlogSubTitle">www.Youmew.com</h3> -->
        </div>
        <div id="divNavBar">
<ul>
<li><a href="http://www.youmew.com/">首页</a></li><li><a href="http://www.youmew.com/catalog.asp?cate=2" title="感悟生活点滴">大生活</a></li><li><a href="http://www.youmew.com/catalog.asp?cate=3" title="光与影的艺术">光影斑斓</a></li><li><a href="http://www.youmew.com/catalog.asp?cate=4" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观。">如是观</a></li><li><a href="http://www.youmew.com/t/" target="_blank" title="还是以前的圈圈微博！">圈圈说</a></li><li><a href="http://www.youmew.com/guestbook.html" title="沟通从这里开始">留言本</a></li>
</ul>
        </div>